@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection {
  background-color: rgba(165, 114, 247, 0.5);
  /* Cambia el color y la opacidad según tus preferencias */
  color: #1ec5a1;
  /* Cambia el color del texto seleccionado si es necesario */
}



body {
  background-color: #FFFFFF;
}
