@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection {
  background-color: rgba(165, 114, 247, 0.5);
  /* Cambia el color y la opacidad según tus preferencias */
  color: #1ec5a1;
  /* Cambia el color del texto seleccionado si es necesario */
}



html {
  background: rgb(219,218,238);
  background: linear-gradient(90deg, rgba(219,218,238,1) 0%, rgba(252,252,252,1) 44%, rgba(255,255,255,1) 83%, rgba(236,243,245,1) 99%);
  
}


.background-general{
  background: rgb(219,218,238);
  background: linear-gradient(90deg, rgba(219,218,238,1) 0%, rgba(252,252,252,1) 44%, rgba(255,255,255,1) 83%, rgba(236,243,245,1) 99%)
}



